<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" bootstrap="tests/bootstrap.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" stopOnError="false" stopOnFailure="false" stopOnIncomplete="false" stopOnSkipped="false" verbose="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage includeUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="bootstrap-components-unit">
      <directory>tests/phpunit/Unit</directory>
    </testsuite>
    <testsuite name="bootstrap-components-integration">
      <directory>tests/phpunit/Integration</directory>
    </testsuite>
  </testsuites>
  <php>
    <var name="wgUseFileCache" value="false"/>
    <var name="seqlgHttpResponseCacheType" value="hash"/>
    <var name="benchmarkPageCopyCount" value="1000"/>
    <var name="benchmarkPageEditRepetitionCount" value="50"/>
  </php>
</phpunit>
